body {
  font-family: "Open Sans"; }
  body header {
    position: relative; }
    body header .background--pic__header {
      position: static;
      width: 100%; }
    body header .icons__header {
      display: flex;
      justify-content: space-between;
      width: 8%;
      position: absolute;
      z-index: 1;
      top: 20px;
      right: 11%; }
      body header .icons__header .icon {
        width: 23%;
        height: 100%;
        float: left;
        cursor: pointer; }
    body header .menu__header {
      width: 50%;
      height: 33%;
      background: black;
      position: absolute;
      z-index: 1;
      right: 0;
      transform: translateY(-50%); }
      body header .menu__header button {
        width: 15%;
        height: 100%;
        background: black;
        color: white;
        display: inline-block;
        border: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600; }
  body .section--1__container {
    max-width: 71%;
    margin: auto; }
    body .section--1__container .row {
      margin: 8px -16px;
      padding: 8px;
      /* Clear floats after rows */
      /* Create three equal columns that floats next to each other */ }
      body .section--1__container .row:after {
        content: "";
        display: table;
        clear: both; }
      body .section--1__container .row .column {
        float: left;
        width: 33.33%;
        display: none;
        /* Hide columns by default */
        padding: 8px;
        /* The "show" class is added to the filtered elements */
        /* Content */ }
        body .section--1__container .row .column.show {
          display: block; }
        body .section--1__container .row .column .content {
          background-color: white;
          padding: 10px; }
          body .section--1__container .row .column .content p {
            display: flex;
            justify-content: center;
            background-color: black;
            align-items: center;
            color: white;
            min-height: 72px; }
    body .section--1__container .btn--wrapper__elem {
      margin-top: 2%;
      margin-bottom: 5%;
      display: flex;
      justify-content: center;
      /* Style the buttons */ }
      body .section--1__container .btn--wrapper__elem .btn {
        border: none;
        outline: none;
        padding: 8px 33px;
        background-color: white;
        cursor: pointer;
        font-weight: 600;
        /* Add a grey background color on mouse-over */
        /* Add a dark background color to the active button */ }
        body .section--1__container .btn--wrapper__elem .btn:hover {
          background-color: #ddd; }
        body .section--1__container .btn--wrapper__elem .btn.active {
          background-color: #E6B632; }
  body .section--4__container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%; }
    body .section--4__container .col__section--4 {
      width: 23%; }
    body .section--4__container img {
      width: 56%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%; }
    body .section--4__container span {
      display: block; }
      body .section--4__container span p {
        text-align: center; }
      body .section--4__container span .title__col__section--4 {
        text-align: center;
        color: #E6B632;
        padding-bottom: 8px;
        font-weight: 600; }
  body footer {
    width: 100%;
    height: 139px;
    background: black; }
