body {
  font-family: "Open Sans"; }
  body header {
    position: relative; }
    body header .background--pic__header {
      position: static;
      width: 100%; }
    body header .icons__header {
      display: flex;
      justify-content: space-between;
      width: 8%;
      position: absolute;
      z-index: 1;
      top: 20px;
      right: 11%; }
      body header .icons__header .icon {
        width: 23%;
        height: 100%;
        float: left;
        cursor: pointer; }
    body header .menu__header {
      width: 50%;
      height: 33%;
      background: black;
      position: absolute;
      z-index: 1;
      right: 0;
      transform: translateY(-50%); }
      body header .menu__header button {
        width: 15%;
        height: 100%;
        background: black;
        color: white;
        display: inline-block;
        border: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600; }
    body header .sp--logo__header {
      position: absolute;
      width: 19%;
      z-index: 1;
      right: 8%;
      top: 225%; }
  body .spacer {
    width: 100%;
    height: 39px;
    color: #222220; }
  body .section--1__container .title--wrap__elem {
    position: relative;
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center; }
    body .section--1__container .title--wrap__elem .title__section--1 {
      width: 14%;
      font-family: "Open Sans";
      line-height: 30px;
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      border-bottom: 1px solid #E6B632; }
  body .section--1__container .buttons__section--1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%; }
    body .section--1__container .buttons__section--1 a {
      width: 13%; }
      body .section--1__container .buttons__section--1 a .button__elem {
        width: 100%; }
  body .section--1__container .see--catalogue--wrapper__elem {
    display: flex;
    justify-content: center;
    margin-bottom: 3%; }
    body .section--1__container .see--catalogue--wrapper__elem .see--catalogue__section--1 {
      width: 10%;
      height: 31px;
      font-weight: 600;
      line-height: 31px;
      text-align: center;
      background: black;
      display: inline-block;
      color: white;
      text-transform: capitalize;
      border-radius: 3px;
      cursor: pointer; }
  body .section--2__container {
    position: relative; }
    body .section--2__container .background--image__elem {
      width: 100%; }
    body .section--2__container .text__elem {
      position: absolute;
      top: 40%;
      right: 50%;
      margin-right: -510px; }
      body .section--2__container .text__elem .paragraph--1__elem {
        text-align: center;
        font-weight: bold; }
      body .section--2__container .text__elem .paragraph--3__elem {
        text-align: center; }
  body .section--3__container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%; }
    body .section--3__container .col__section--3 {
      width: 23%; }
    body .section--3__container img {
      width: 56%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%; }
    body .section--3__container span {
      display: block; }
      body .section--3__container span p {
        text-align: center; }
      body .section--3__container span .title__col__section--3 {
        text-align: center;
        color: #E6B632;
        padding-bottom: 8px;
        font-weight: 600; }
  body footer {
    width: 100%;
    height: 139px;
    background: black; }
