
body {
  font-family: "Open Sans";
  header {  
    position: relative;
    .background--pic__header {
      position: static;
      width: 100%;
    }
    .icons__header {
      display: flex;
      justify-content: space-between; 
      width: 8%;
      position: absolute;
      z-index: 1;
      top: 20px;    
      right: 11%;
      .icon {
        width: 23%;
        height: 100%;
        float: left;          
        cursor: pointer;
      }        
    } 
    .menu__header {      
      width: 50%;
      height: 33%;      
      background: black;
      position: absolute;
      z-index: 1;
      right: 0;    
      transform: translateY(-50%);
      button {
        width: 15%;
        height: 100%;
        background: black;
        color: white;
        display: inline-block;
        border: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
      }
    }    
  }
  .section--1__container { 
    text-align: center;
    margin-bottom: 4%;
    .title--wrap__elem {    
      position: relative;
      margin-top: 5%;
      margin-bottom: 1%;
      display: flex;
      justify-content: center;
      .title__section--1 {
        //width: 24%;
        font-family: "Open Sans";
        line-height: 30px;
        font-size: 28px;
        font-weight: 600;
        text-align: center;      
        text-transform: uppercase;  
        border-bottom: 1px solid #E6B632;      
      }   
    }
    p {
      display: inline-block;      
    }
    .sub--title__section--1 {
      text-transform: capitalize;
      font-weight: 600;
      line-height: 2;
    }
    .check--icon__elem {
      color: #E6B632;
    }    
  }   
  .section--2__container {
    display: flex;
    width: 100%;   
    text-align: center;
    .col__section--2 {
      width: 50%;    
      display: inline-block;
      &.col--1 {
        background: #E6B632;               
      }
      &.col--2 {
        background: #000000;
        color: #FFFFFF;
      }
      p {
        line-height: 1.4;
        margin-bottom: 10%;
      }
      .title__col__section--2 {
        margin-bottom: 1%;
        text-transform: uppercase; 
        font-weight: 800;
        margin-top: 9%;
        font-size: 37px;
      }
    }
  }
  .section--3__container {    
    .title--wrap__elem {    
      position: relative;
      margin-top: 5%;
      margin-bottom: 1%;
      display: flex;
      justify-content: center;
      .title__section--3 {
        width: 24%;
        font-family: "Open Sans";
        line-height: 30px;
        font-size: 28px;
        font-weight: 600;
        text-align: center;      
        text-transform: uppercase;  
        border-bottom: 1px solid #E6B632;      
      }   
    }
    form {
      width: 72%;          
      margin: auto;
      input {
        width: 49%;
        margin-bottom: 1%;
        margin-right: 0.5%;
      }
      .input--radio__elem {
        width: auto;
        margin-right: 0;
      }
      .input--submit__elem {
        width: 11%;
        height: 37px;
        margin-left: 44%;        
        background: black;
        color: white;
        display: inline-block;
        border: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;      
      }
    }
  }
  .section--4__container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    .col__section--4 {
      width: 23%
    }
    img {
      width: 56%;  
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
    }
    span {
      display: block;
      p { 
        text-align: center;
      }
      .title__col__section--4 {
        text-align: center;
        color: #E6B632;
        padding-bottom: 8px;
        font-weight: 600;
      }
    }
  }
  footer {
    width: 100%;
    height: 139px;
    background: black;
  }
}
