body {
  font-family: "Open Sans";
  header {
    position: relative;
    .background--pic__header {
      position: static;
      width: 100%;
    }
    .icons__header {
      display: flex;
      justify-content: space-between; 
      width: 8%;
      position: absolute;
      z-index: 1;
      top: 20px;    
      right: 11%;
      .icon {
        width: 23%;
        height: 100%;
        float: left;          
        cursor: pointer;
      }
    }
    .menu__header {
      width: 50%;
      height: 33%;      
      background: black;
      position: absolute;
      z-index: 1;
      right: 0;    
      transform: translateY(-50%);
      button {
        width: 15%;
        height: 100%;
        background: black;
        color: white;
        display: inline-block;
        border: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
      }
    }    
  }
  .section--1__container {
    max-width: 71%;
    margin: auto;
    .row {
      margin: 8px -16px;
      padding: 8px;      
      /* Clear floats after rows */ 
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      /* Create three equal columns that floats next to each other */
      .column {
        float: left;
        width: 33.33%;
        display: none; /* Hide columns by default */
        padding: 8px;
        /* The "show" class is added to the filtered elements */
        &.show {
          display: block;
        }
        /* Content */
        .content {
          background-color: white;
          padding: 10px;
          p {
            display: flex;
            justify-content: center;
            background-color: black;
            align-items: center;
            color: white;
            min-height: 72px;
          }
        }        
      } 
    }    
    .btn--wrapper__elem {
      margin-top: 2%;
      margin-bottom: 5%;
      display: flex;
      justify-content: center;
      /* Style the buttons */
      .btn {
        border: none;
        outline: none;
        padding: 8px 33px;
        background-color: white;
        cursor: pointer;
        font-weight: 600;
        /* Add a grey background color on mouse-over */
        &:hover {
          background-color: #ddd;
        }
        /* Add a dark background color to the active button */
        &.active {
          background-color: #E6B632;          
        }
      }  
    }     
  }
  .section--4__container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    .col__section--4 {
      width: 23%
    }
    img {
      width: 56%;  
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
    }
    span {
      display: block;
      p { 
        text-align: center;
      }
      .title__col__section--4 {
        text-align: center;
        color: #E6B632;
        padding-bottom: 8px;
        font-weight: 600;
      }
    }
  }
  footer {
    width: 100%;
    height: 139px;
    background: black;
  }
}