body {
  font-family: "Open Sans";
  header {  
    position: relative;
    .background--pic__header {
      position: static;
      width: 100%;
    }
    .icons__header {
      display: flex;
      justify-content: space-between; 
      width: 8%;
      position: absolute;
      z-index: 1;
      top: 22px;    
      right: 11%;
      .icon {
        width: 23%;
        height: 100%;
        float: left;          
        cursor: pointer;
      }        
    } 
    .menu__header {      
      width: 50%;
      height: 33%;      
      background: black;
      position: absolute;
      z-index: 1;
      right: 0;    
      transform: translateY(-50%);
      button {
        width: 15%;
        height: 100%;
        background: black;
        color: white;
        display: inline-block;
        border: none;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
      }
    }    
  }
  .sucursales__spacer {
    height: 92px;
    p {
      font-size: 46px;
      font-weight: 900;     
      line-height: 92px;
      text-align: center;
    }
  }
  .section--1__container {    
    .wrapper__section--1 {
      width: 56%;
      display: flex;     
      text-align: left;
      position: absolute;
      right: 20%;
      transform: translateY(-75%);
      -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.21);
      -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.21);
      box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.21);
      .col__section--1 {
        width: 50%;    
        display: inline-block;
        &.col--1 {
          background: #FFFFFF;
          padding: 8%;
          display: flex;
          flex-direction: column;
          p {
            display: inline;
          }
          .p--margin__elem {
            margin-bottom: auto;
            line-height: 2;
          }
          .span--bold__elem {
            font-weight: 600;
          }
        }
        &.col--2 {
          display: flex;
          flex-direction: column;
          padding: 8%;        
          background: #E6B632;
          color: #FFFFFF;
          .text--wrapper__col--2 {
            margin: auto;           
          }
        }
        p {
          line-height: 1.4;
          margin-bottom: 10%;
          font-size: 14px;
        }
        .title__col__section--1 {
          margin-bottom: 1%;
          text-transform: uppercase; 
          font-weight: 800;
          margin-top: 9%;
          font-size: 15px;
        }
      }
      .spacer__elem {
        height: 200px;
        background-color:white;
      }
    }    
  }
  .spacer__elem {
    height: 210px;
  }
  .section--4__container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    .col__section--4 {
      width: 23%
    }
    img {
      width: 56%;  
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
    }
    span {
      display: block;
      p { 
        text-align: center;
      }
      .title__col__section--4 {
        text-align: center;
        color: #E6B632;
        padding-bottom: 8px;
        font-weight: 600;
      }
    }
  }
  footer {
    width: 100%;
    height: 139px;
    background: black;
  }
}